# Windows image file caches
Thumbs.db
ehthumbs.db

 #git
.gitconfig

# Folder config file
Desktop.ini

# Recycle Bin used on file shares

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
*.dll

# ======
# My files
# =======

# compilation
*.o
*.a
Algo/Build
Algo/build
build
Godot/godot_cpp
*.dblite

# Godot files
*.import
*.uid
*.tmp
.gitattributes

# =========================
# Operating System Files
# =========================

