# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
*.dll

# ======
# My files
# =======


# Godot files
*.import
*.uid
*.tmp

# =========================
# Operating System Files
# =========================

