# Windows image file caches
Thumbs.db
ehthumbs.db

 #git
.gitconfig

# Folder config file
Desktop.ini

# Recycle Bin used on file shares

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
*.dll

# ======
# My files
# =======

# compilation
*.o
*.os
*.a
Algo/Build
Algo/build
build
Godot/godot_cpp
Godot/html
*.dblite
*.wasm
*.so
*.apk
*.apk.*

# Godot files
*.import
*.uid
*.tmp
.gitattributes
Godot/Exports/*

# terraform
*.tfstate*
.terraform
*.lock.hcl

# =========================
# Operating System Files
# =========================

